spring:
  datasource:
    driver-class-name: org.postgresql.Driver
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: create-drop
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
